<style>
  .navBar {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 50px;
    display: flex;
    padding: 5px 20px;
    justify-content: end;
    align-items: center;
  }
</style>
<nav class="position-absolute navBar">
  {% if username %}
    <button class="btn btn-primary" onclick="redirect('logout/')">Logout</button>
  {% else %}
    <button class="btn btn-primary" onclick="redirect('login/')">Login</button>
  {% endif %}
</nav>

<script>
  function redirect(path) {
    window.location = path
  }
</script>
