<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
</head>

<body style="background-color: aqua;
  color: black;
  padding: 10px 15px;
   box-sizing: border-box;
   margin: 0;">
  <h3>Hi {{ username }},</h3>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;You recently requested to reset the password for your Projekt-X account. Click the button
    below or Copy link to proceed.</p>

  <h1 style="text-align: center;"><a href="{{ url }}"><button style="padding: 10px 15px;
      background-color: purple;
      color: white;
      border: 0;
      font-size: 1.3rem;
      border-radius: 5px;"><b>Reset Password</b></button></a></h1>
  <a href="{{ domain }}users/reset_password/{{ enckey }}" style="
      background-color: transparent;
      color: blue;
      border: 0;
      text-decoration: none;
      border-radius: 5px;">{{url}}</a>

  <p>
    If you did not request a password reset, please ignore this email or reply to let us know. This password reset link
    is valid for the next <strong>10 minutes</strong>. <br />
    <strong>Note:</strong> Reset link is only for one time use.
  </p>
  <br />
  <footer>
    Regards,<br />The Projekt-X team<br />Have Good Day
  </footer>
</body>

</html>